[user]
	email = 32392044+leedoughty@users.noreply.github.com
	name = leedoughty
[push]
	autoSetupRemote = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[rebase]
	updateRefs = true
